In [1]:
import numpy as np
import pandas as pd
import json
import datetime

In [5]:
data_base_dir = "../Data/Google Location/"
maps_monthly_data = os.listdir(data_base_dir)
maps_monthly_data

['2020_APRIL.json',
 '2020_JULY.json',
 '2020_JUNE.json',
 '2020_FEBRUARY.json',
 '2020_AUGUST.json',
 '2020_MARCH.json',
 '2020_MAY.json',
 '2020_JANUARY.json']

In [32]:
data_1_name = data_base_dir + maps_monthly_data[0]
print(data_1_name)

../Data/Google Location/2020_APRIL.json

In [71]:
df = pd.DataFrame()
with open(data_1_name, 'r') as j:
    json_data = json.load(j)
#     print(json_data)
    df = pd.DataFrame(json_data)

In [40]:
type(json_data)

dict

In [60]:
json_data.get('timelineObjects')[0].get('activitySegment')

{'startLocation': {'latitudeE7': 430036764, 'longitudeE7': -788115872},
 'endLocation': {'latitudeE7': 429915968, 'longitudeE7': -788193962},
 'duration': {'startTimestampMs': '1585938671085',
  'endTimestampMs': '1585939209407'},
 'distance': 1730,
 'activityType': 'IN_PASSENGER_VEHICLE',
 'confidence': 'HIGH',
 'activities': [{'activityType': 'IN_PASSENGER_VEHICLE',
   'probability': 91.86533093452454},
  {'activityType': 'WALKING', 'probability': 4.471015930175781},
  {'activityType': 'STILL', 'probability': 1.440364308655262},
  {'activityType': 'CYCLING', 'probability': 0.9803937748074532},
  {'activityType': 'MOTORCYCLING', 'probability': 0.40671275928616524},
  {'activityType': 'IN_BUS', 'probability': 0.37116024177521467},
  {'activityType': 'IN_FERRY', 'probability': 0.19966436084359884},
  {'activityType': 'RUNNING', 'probability': 0.162585754878819},
  {'activityType': 'SKIING', 'probability': 0.03847315383609384},
  {'activityType': 'FLYING', 'probability': 0.027017176034860313},
  {'activityType': 'IN_TRAM', 'probability': 0.02012310578720644},
  {'activityType': 'SAILING', 'probability': 0.008811191219137982},
  {'activityType': 'IN_TRAIN', 'probability': 0.006351168849505484},
  {'activityType': 'IN_SUBWAY', 'probability': 0.0019385439372854307},
  {'activityType': 'IN_VEHICLE', 'probability': 5.405012757364602e-05}],
 'waypointPath': {'waypoints': [{'latE7': 430037651, 'lngE7': -788119125},
   {'latE7': 430039787, 'lngE7': -787987976},
   {'latE7': 429914588, 'lngE7': -788193969}]},
 'parkingEvent': {'timestampMs': '1585939164922',
  'location': {'latitudeE7': 429912149,
   'longitudeE7': -788187485,
   'accuracyMetres': 92}}}

In [67]:

readable = datetime.datetime.fromtimestamp(1585939209407/1000.0).isoformat()
print(readable)

2020-04-03T14:40:09.407000

In [50]:
pd.DataFrame(json_data.get('timelineObjects'))

,activitySegment,placeVisit
0,"{'startLocation': {'latitudeE7': 430036764, 'l...",NaN
1,NaN,"{'location': {'latitudeE7': 429917074, 'longit..."
2,"{'startLocation': {'latitudeE7': 429919164, 'l...",NaN
3,NaN,"{'location': {'latitudeE7': 430044576, 'longit..."
4,"{'startLocation': {'latitudeE7': 430039205, 'l...",NaN
5,NaN,"{'location': {'latitudeE7': 430052110, 'longit..."
6,"{'startLocation': {'latitudeE7': 430064610, 'l...",NaN
7,NaN,"{'location': {'latitudeE7': 430044576, 'longit..."
8,"{'startLocation': {'latitudeE7': 430036759, 'l...",NaN
9,NaN,"{'location': {'latitudeE7': 430044576, 'longit..."
10,"{'startLocation': {'latitudeE7': 429965454, 'l...",NaN
11,NaN,"{'location': {'latitudeE7': 430057840, 'longit..."
12,"{'startLocation': {'latitudeE7': 430043551, 'l...",NaN
13,NaN,"{'location': {'latitudeE7': 430044576, 'longit..."
14,"{'startLocation': {'latitudeE7': 430036689, 'l...",NaN
15,NaN,"{'location': {'latitudeE7': 430044576, 'longit..."
16,"{'startLocation': {'latitudeE7': 430037933, 'l...",NaN
17,NaN,"{'location': {'latitudeE7': 430405230, 'longit..."
18,"{'startLocation': {'latitudeE7': 430404293, 'l...",NaN
19,NaN,"{'location': {'latitudeE7': 430044576, 'longit..."
20,"{'startLocation': {'latitudeE7': 430036705, 'l...",NaN
21,NaN,"{'location': {'latitudeE7': 430044576, 'longit..."
22,"{'startLocation': {'latitudeE7': 430041407, 'l...",NaN
23,NaN,"{'location': {'latitudeE7': 430044576, 'longit..."
24,"{'startLocation': {'latitudeE7': 430037624, 'l...",NaN
25,NaN,"{'location': {'latitudeE7': 429647793, 'longit..."
26,"{'startLocation': {'latitudeE7': 429645290, 'l...",NaN
27,NaN,"{'location': {'latitudeE7': 430044576, 'longit..."
28,"{'startLocation': {'latitudeE7': 430037671, 'l...",NaN
29,NaN,"{'location': {'latitudeE7': 430044576, 'longit..."

In [41]:
type(df)

pandas.core.frame.DataFrame

In [75]:
df.iloc[0].values

array([{'activitySegment': {'startLocation': {'latitudeE7': 430036764, 'longitudeE7': -788115872}, 'endLocation': {'latitudeE7': 429915968, 'longitudeE7': -788193962}, 'duration': {'startTimestampMs': '1585938671085', 'endTimestampMs': '1585939209407'}, 'distance': 1730, 'activityType': 'IN_PASSENGER_VEHICLE', 'confidence': 'HIGH', 'activities': [{'activityType': 'IN_PASSENGER_VEHICLE', 'probability': 91.86533093452454}, {'activityType': 'WALKING', 'probability': 4.471015930175781}, {'activityType': 'STILL', 'probability': 1.440364308655262}, {'activityType': 'CYCLING', 'probability': 0.9803937748074532}, {'activityType': 'MOTORCYCLING', 'probability': 0.40671275928616524}, {'activityType': 'IN_BUS', 'probability': 0.37116024177521467}, {'activityType': 'IN_FERRY', 'probability': 0.19966436084359884}, {'activityType': 'RUNNING', 'probability': 0.162585754878819}, {'activityType': 'SKIING', 'probability': 0.03847315383609384}, {'activityType': 'FLYING', 'probability': 0.027017176034860313}, {'activityType': 'IN_TRAM', 'probability': 0.02012310578720644}, {'activityType': 'SAILING', 'probability': 0.008811191219137982}, {'activityType': 'IN_TRAIN', 'probability': 0.006351168849505484}, {'activityType': 'IN_SUBWAY', 'probability': 0.0019385439372854307}, {'activityType': 'IN_VEHICLE', 'probability': 5.405012757364602e-05}], 'waypointPath': {'waypoints': [{'latE7': 430037651, 'lngE7': -788119125}, {'latE7': 430039787, 'lngE7': -787987976}, {'latE7': 429914588, 'lngE7': -788193969}]}, 'parkingEvent': {'timestampMs': '1585939164922', 'location': {'latitudeE7': 429912149, 'longitudeE7': -788187485, 'accuracyMetres': 92}}}}],
      dtype=object)